#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	cp $(CURDIR)/graylog2.conf.example $(CURDIR)/debian/graylog2-server/etc/graylog2/server.conf
	dh_install

override_dh_installinit:
	dh_installinit --error-handler=true
